body{background-color: rgb(104,205,213)}

p{
    margin: 10px;
    color: white;
}
@media screen and (min-width: 940px) {
    p{
        text-align: center;
    }
}

.back{
    position:absolute;
    top:2%;
    left:2%;
    width: 2em;
}

.title{
    width: 100%;
    position: absolute;
    top: 15%;
}
h1 {
    text-align: center;
}
.img1 {
    height: 1.5em;
}

.content{
    font-size: smaller;
    line-height: 20px;
    position: absolute;
    top: 40%;
    right: 8%;
    left: 8%;
}

.icon{
    text-align: center;
    position: absolute;
    bottom: 10%;
}
.img2 {
    height: 3em;
}


.left{
    left: 12%;
}
.right{
    right: 12%;
}
